body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  background-color: #222;
  margin: 0;
}

header {
  background-color: #f44336;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #d32f2f;
}

main {
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Press Start 2P', Arial, sans-serif;
  text-align: center;
}

main h2 {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 20px;
}

main p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 50px;
}

main button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #F44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main button:hover {
  background-color: #222;
}


.game-categories li {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.game-categories li:hover {
  background-color: #F44336;
  cursor: pointer;
  text-decoration: none;
}

.game-box {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px 0;
}

.games img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-h3 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.game-p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #222;
}

.blog-posts {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.blog-post {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.blog-post img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-post h3 {
  font-size: 24px;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blog-post p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 20px 20px;
}

.blog-post .read-more {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

.blog-post .read-more:hover {
  background-color: #222;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.contact-form h2 {
  margin-top: 0;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: #F44336;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #D32F2F;
}


.category {
  text-align: center;
}

.category img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.category h3 {
  margin-top: 10px;
}

.game-list {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.game-list li {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.game-list img {
  text-decoration: none;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.game-list a {
  color: #ffffff;
  text-decoration: none;
}

.about-us {
  background-color: #F44336;
  padding: 40px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-us h2 {
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us p {
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 20px;
}
